body {
    background-color: aliceblue;
}
/* See https://coder-coder.com/background-image-opacity/ */
.jumbotron {
    position: relative;
    text-align: center;
}
.jumbotron::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("../images/20091116-bacteria.jpg");
    background-size: 100% 150%;
    opacity: 0.4;
}
.jumbotron h1, .jumbotron h1 + p {
    position: relative;
    color: midnightblue;
    font-weight: bold;
    /* text-shadow: -1pt -1pt lightgrey,
                  1pt -1pt lightgrey,
                 -1pt  1pt lightgrey,
                  1pt  1pt lightgrey; */
}
.jumbotron p {
    position: relative;
    font-size: 150%;
}